@import "tailwindcss";

#root {
  max-width: 580px;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
  
}

body {
  font-family: 'Lexend', sans-serif;
  background-color: #f9fafb;
}

h1{
  color: #111827;
  font-size: 3em;
}

h2{
  color: #111827;
  font-size: 2em;
}

h3{
  color: #111827;
  font-size: 1.5em;
}